@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_bold_italic_pro.otf);
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_bold_pro.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_medium_italic_pro.otf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_medium_pro.otf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_regular_italic_pro.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: apercu-pro;
  src: url(font/apercu_regular_pro.otf);
  font-style: normal;
  font-weight: 400;
}
html{
  font-family: apercu-pro;
}
  .container {
    padding: 0 15px;
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
  }
  i {
    padding: 0 4px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .cantainer1,
  .but {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25;
    margin: auto;
  }
  .but {
    position: relative;
    left: 300px;
  }
  .cantainer1 {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  .pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: 350;
  }
  .btn {
    background-color: white;
    color: black;
  }
  .btn:hover {
    color: gray;
  }
  .sin,
  .btn2 {
    background-color: black;
    color: white;
  }
  .sin:hover,
  .btn2:hover {
    color: gray;
  }
  
  .rat1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 400;


  }
  .dan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1535;
    padding-top: 50px;
    gap:90px;
    padding-bottom: 110px;
  }
  .cantainer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .cantainer21 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    padding-bottom: 100px;
   
    
  }
  .btn2{ background-color: black;
    color: white;
    padding: 15px 45px;
    border-radius: 10px;
    
    

  }
  .cantainer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .cantainer31 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cantainer4 {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin: auto;
    max-width: 1535px;
    gap: 20px;
    padding-left: 50px;
    padding-bottom: 100px;
  }
  .cantainer41 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 900px;
    gap: 30px;
  }
  .cant4 {
    position: relative;
    top: 80px;
    font-size: 30px;
    font-weight: normal;
  }
  .cant{
    display: flex;
    flex-direction: column;
    gap:140px;
    
  }
  .aks1,
  .aks2,
  .aks3 {
    padding: 32px;
    width: 256px;
    height: 256px;
    background-color: #f7f7f6;
    border-radius: 20px;
  }
  .cantainer5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 64px;
    padding-top: 64px;
  }
  .cantainer5 h2 {
    font-size: 48px;
    margin: 0;
    padding-bottom: 12px;
    font-weight: 500;
  }
  .cantainer6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    width: 80%;
  }
  .list {
    padding: 24px;
    background-color:#f7f7f6;
    width: 33%;
    height: 190;
    color: black;
    border-radius: 24px;
    margin-bottom: 24px;
  }
  .list li{
    list-style: none;
    display: flex;
    align-items: center;
  }
  .list:hover {
    background-color: black;
    color: white;
  }
  .list:hover a{
    color: white;
  }
 
  .list2title {
    padding-bottom: 16px;
    font-size: 20px;
  }
  .llink {
    padding: 4px 0;
    display: block;
    color: black;
  }
  .llink:hover {
    text-decoration: underline;
    color: white;
  }

  .cantainer7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .onvan {
    color: black;
  }
  .cantainer8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
  }
  .cantainer9{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    gap: 130px;
    margin: auto;
    text-align: center;
    max-width: 1535;
    padding-bottom: 100px;
    padding-right: 100px;
    
    
  }
  .cantainer9 > div{
    display: flex;
    width: 40%;
    flex-direction: column;
  }
  .cantainer91 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
  }
  .textp {
    width: 20%;
    font-size: 20px;
    align-items: center;
    padding-bottom: 20px;
  }
  .container-fluid {
    width: 100%;
  }
  .top-header-section {
    background-color: #131313;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
  }

  .top-header-section {
    text-align: center;
    background-color: #131313;
    color: #cccccc;
    padding: 28px 0px;
    font-size: clamp(0.875rem, 0.7876rem + 0.2427vw, 1rem);
  }
  .top-header-section > div > p > i {
    padding: 0px 6px;
    color: #ffffff;
  }

 
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .list1,
    .list2,
    .list3,
    .list4,
    .list5,
    .list6 {
      width: 49%;
    }
  }
  @media screen and (max-width: 768px) {
    .list1,
    .list2,
    .list3,
    .list4,
    .list5,
    .list6 {
      width: 100%;
    }
  }
  .cantainera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
  }
  .payin1,.payin2 {
    background-color: white;
    border-radius: 10px;
    padding: 10px 16px;
    position: relative;
    top: 30px;
    font-size: 16px;
    gap: 10px;
    border: 1px solid white;

  }
  .payin1{
    padding: 10px 38px;
  }
  .payin2{
    background-color: black;
    color: white;
    border-color: white;
  }
  .cantainerb {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding-top: 70px;
  }
  .sutun {
    width: 7%;
  }